---
interface Props {
  headHtml: string;
  bodyClass?: string;
}

const { headHtml, bodyClass = '' } = Astro.props;
---
<!doctype html>
<html lang="en-GB" prefix="og: https://ogp.me/ns#">
  <head>
    <Fragment set:html={headHtml} />
  </head>
  <body class={bodyClass}>
    <slot />
  </body>
</html>
